// Ne pas oublier les !default pour permettre l'override dans les sites utilisant le thème
// MAIN COLORS
$color-accent: #000000 !default
$color-text: #000000 !default
$color-text-alt: #7D7D7D !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background-alt: #ECECEC !default
$color-background: #FFFFFF !default

// TYPOGRAPHY

// Fonts family
$body-font-family: "Signifier", "Baskerville", "Times New Roman", "Times", serif !default
$heading-font-family: "Soehne", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default

// Headings
$h1-text-transform: none !default
$h3-weight: normal !default
$h4-weight: normal !default

// Lead
$lead-font-family: $body-font-family !default

// Signature
$signature-font-family: $body-font-family !default

// Quotes
$quote-font-family: $body-font-family !default

// Spacing
$spacing0: px2rem(12) !default
$spacing1: px2rem(24) !default
$spacing2: px2rem(48) !default
$spacing3: px2rem(64) !default
$spacing4: px2rem(128) !default
$spacing5: px2rem(160) !default
$spacing6: px2rem(256) !default
$spacing-section-y: px2rem(36) !default

// Header
$header-background: transparent !default
$header-sticky-background: transparent !default
$header-border-bottom-width: 0 !default
$hero-background-color: #FFFFFF !default

// Navs
$body-overlay-color: rgba(0, 0, 0, 0.3) !default

// Footer
$footer-color: #FFFFFF !default
$footer-background-color: #000000 !default

// Hero
$hero-height: 300px !default
$hero-height-desktop: 728px !default
// $hero-color: $color-text !default
// $hero-background-color: #FFFFFF !default

// BLOCKS
$block-testimonials-font-family: $quote-font-family !default
