// Layout
body:not(.is-loaded) *
    transition-duration: 0s !important

::selection
    background: transparentize($color-accent, .7)
    color: white
    text-shadow: none

::-moz-selection
    background: transparentize($color-accent, .7)
    color: white
    text-shadow: none

main
    background: var(--color-background)
    min-height: 100vh
    transition: background $color-duration ease, color $color-duration ease
    // This pseudo-element handles last block margin-bottom
    position: relative
    z-index: 10
    &::after
        content: ''
        display: block
        height: 1px


html.has-offcanvas-opened 
    body
        &::after
            z-index: 9

.posts-navigation ul a
    transition: color $color-duration ease
    &:hover
        color: var(--color-text-alt)
th
    font-weight: normal
    @include meta
