// System
::selection
    background: transparentize($color-accent, .7)
    color: white
    text-shadow: none

::-moz-selection
    background: transparentize($color-accent, .7)
    color: white
    text-shadow: none
header#document-header 
    pointer-events: none
    .logo
        display: flex
        font-size: $header-logo-font-size
        line-height: 120%
        font-style: italic
        gap: 24px
        text-decoration: none
        @include media-breakpoint-down(desktop)
            font-size: px2rem(22)
            gap: 12px
    nav
        @include media-breakpoint-down(desktop)
            padding-top: 30px
        @include media-breakpoint-up(md)
            padding-top: $grid-gutter
        .container > *
            pointer-events: all
main
    background: $color-background
    position: relative
    z-index: 9
@include media-breakpoint-up(desktop)
    body
        padding-bottom: 100vh
    footer#document-footer
        position: fixed
        bottom: 0
        height: 100vh
        width: 100%
footer#document-footer
    font-size: $body-size-desktop
    opacity: 0
    padding-bottom: $grid-gutter
    padding-top: $grid-gutter
    &.is-visible
        opacity: 1
    .container
        position: relative
    ul li a
        color: transparentize(#FFFFFF, .2)
        text-decoration: none
        transition: color .3s ease
        &:hover
            color: transparentize(#FFFFFF, 0)
            text-decoration: none
    .footer-social li,
    .footer-legals li
        font-size: $body-size-desktop
    nav li,
    nav li a,
    nav li span
        font-family: $heading-font-family
        font-size: px2rem(32)
        text-decoration: none
    nav li span
            color: transparentize(#FFFFFF, .55)
    .footer-logo
        align-items: flex-end
        display: flex
        a::after
            display: none
    @include media-breakpoint-down(desktop)
        nav li,
        nav li a,
        nav li span
            font-size: px2rem(36)
        .footer-logo
            flex-direction: row-reverse
            margin-top: $grid-gutter
            width: 100%
            > img
                width: col(3)
        .container + .container 
            margin-top: half($grid-gutter)
            div + div
                margin-top: $spacing0
    @include media-breakpoint-down(desktop)
        address > p
            margin-bottom: $spacing1
        nav li,
        nav li a,
        nav li span
            line-height: 110%
        .footer-logo
            justify-content: space-between 
            > img
                width: col(4.4)
    @include media-breakpoint-up(desktop)
        display: flex
        flex-direction: column
        address
            width: col(3)
            p
                margin-bottom: $spacing1
        nav
            margin-left: auto
            width: col(5)
        .footer-logo
            bottom: 0
            left: $grid-gutter
            position: absolute
            width: col(5)
            > img 
                margin-left: calc(#{$grid-gutter} * 5)
                width: col(1.8, 5)
            a
                width: col(.93, 5)
        .container:first-of-type
            justify-content: unset
            gap: $grid-gutter
            flex: 1
        .container:last-of-type
            justify-content: space-between
            padding-top: $grid-gutter
            ul
                align-items: center
                display: flex
                gap: $spacing1
                li + li
                    margin: 0
    @include media-breakpoint-up(xl)
        justify-content: space-between
        .footer-logo
            a
                width: $grid-gutter
        nav li + li 
            margin-top: 0
        @media screen and (max-height: 800px)
            justify-content: flex-end
        @media screen and (min-height: 800px)
            nav li,
            nav li a,
            nav li span
                font-size: px2rem(55)
                margin-bottom: $spacing1
        @media screen and (min-height: 900px)
            nav li,
            nav li a,
            nav li span
                @include h1
                margin-bottom: 0
            .footer-logo 
                > img
                    width: col(1.85, 5)
        @media screen and (max-height: 800px)
            nav li + li
                margin-top: $spacing0
    @include media-breakpoint-up(xxl)
        padding-top: calc(#{$grid-gutter} * 2)
        .footer-logo
            bottom: $grid-gutter
        nav 
            margin-top: -14px
            li,
            li a,
            li span
                @include h1
// Blocks
.block-testimonials
    .signature + .meta
        font-family: $body-font-family
    figcaption
        justify-content: center
    @include in-page-with-or-without-sidebar
        figure.with-picture
            figcaption 
                display: flex
                margin: $spacing2 auto 0
                .avatar
                    position: relative
                    left: unset
                    margin-left: unset
                    top: unset
                @include media-breakpoint-up(desktop)
                    width: col(5, 8)
                    .avatar
                        width: 105px
    @include in-page-without-sidebar
        figure.with-picture
            width: col(8)
            padding: 0
            margin-left: auto
            margin-right: auto
            @include media-breakpoint-down(desktop)
                width: 100%
    @include media-breakpoint-up(desktop)
        blockquote p
            text-align: center
.block-chapter .chapter
    @include in-page-with-or-without-sidebar
        @include media-breakpoint-up(desktop)
            .text
                display: flex
                width: 100%
                gap: $grid-gutter
                .top 
                    width: col(5)
                    + * 
                        width: col(7)
.block-posts--list article
    @include media-breakpoint-up(desktop)
        @include in-page-with-or-without-sidebar
            padding-bottom: $spacing2
            + article
                margin-top: 0
                padding-top: $spacing2
                .post-meta
                    top: $spacing2

@media (prefers-color-scheme: dark)
    ::selection
        background: transparentize(white, .3)
        color: $color-accent

    ::-moz-selection
        background: transparentize(white, .3)
        color: $color-accent
    main, 
    .hero
        background: black
        color: white
    body,
    a, .link
        color: white
    header#document-header nav .logo 
        color: white
        img
            filter: invert(1)
    footer#document-footer
        background: white
        color: black
        .footer-logo a img
            filter: invert(1)
        ul li a
            color: transparentize(black, .35)
            &:hover
                color: transparentize(black, 0)
        nav li span
                color: transparentize(black, .45)
    .post-meta time,
    .block-testimonials .signature + .meta
        color: $color-text-alt-dark
    .avatar
        background-color: black