// System
header#document-header nav
    padding-top: $grid-gutter-sm
    @include media-breakpoint-up(md)
        padding-top: $grid-gutter
main
    background: $color-background
    position: relative
    z-index: 9
@include media-breakpoint-up(desktop)
    body
        padding-bottom: 100vh
    footer#document-footer
        position: fixed
        bottom: 0
        height: 100vh
        width: 100%
footer#document-footer
    font-size: $body-size-desktop
    padding-bottom: $grid-gutter
    padding-top: $grid-gutter
    .container
        position: relative
    ul li a
        color: transparentize(#FFFFFF, .2)
        text-decoration: none
        transition: color .3s ease
        &:hover
            color: transparentize(#FFFFFF, 0)
            text-decoration: none
    .footer-social li,
    .footer-legals li
        font-size: $body-size-desktop
    nav li,
    nav li a,
    nav li span
        font-family: $heading-font-family
        font-size: px2rem(32)
        text-decoration: none
        span
            color: transparentize(#FFFFFF, .8)
    .footer-logo
        align-items: flex-end
        display: flex
        justify-content: space-between
        a::after
            display: none
    @include media-breakpoint-down(desktop)
        nav li,
        nav li a,
        nav li span
            font-size: px2rem(36)
        .footer-logo
            flex-direction: row-reverse
            width: 100%
            > img
                width: col(3)
        .container + .container div + div
            margin-top: $spacing0
    @include media-breakpoint-down(md)
        .footer-logo > img
            width: col(7)
    @include media-breakpoint-up(desktop)
        display: flex
        flex-direction: column
        justify-content: space-between
        address
            width: col(3)
            p
                margin-bottom: $spacing1
        nav
            margin-left: calc(#{$grid-gutter} * 2)
            width: col(5)
        .footer-logo
            bottom: 0
            left: $grid-gutter
            position: absolute
            width: col(6)
            > img 
                width: col(3, 6)
                margin-right: $grid-gutter
            a img
                width: $grid-gutter
        .container:first-of-type
            justify-content: unset
            gap: $grid-gutter
        .container:last-of-type
            justify-content: space-between
            padding-top: $grid-gutter
            ul
                align-items: center
                display: flex
                gap: $spacing1
                li + li
                    margin: 0
// Blocks
.block-testimonials
    blockquote p
        text-align: center
    .signature + .meta
        font-family: $body-font-family
    figcaption
        justify-content: center
    @include in-page-with-or-without-sidebar
        figure.with-picture
            figcaption 
                display: flex
                margin: $spacing2 auto 0
                .avatar
                    position: relative
                    left: unset
                    margin-left: unset
                    top: unset
                @include media-breakpoint-up(desktop)
                    width: col(5, 8)
                    .avatar
                        width: 105px
    @include in-page-without-sidebar
        figure.with-picture
            width: col(8)
            padding: 0
            margin-left: auto
            margin-right: auto
            @include media-breakpoint-down(desktop)
                width: 100%
.block-chapter .chapter
    @include in-page-with-or-without-sidebar
        @include media-breakpoint-up(desktop)
            .text
                display: flex
                width: 100%
                gap: $grid-gutter
                .top 
                    width: col(5)
                    + * 
                        width: col(7)
.block-posts--list article
    @include media-breakpoint-up(desktop)
        @include in-page-with-or-without-sidebar
            padding-bottom: $spacing2
            + article
                margin-top: 0
                padding-top: $spacing2
                .post-meta
                    top: $spacing2