// Blocks
.block-testimonials
    blockquote p
        text-align: center
    .signature + .meta
        font-family: $body-font-family
    figcaption
        justify-content: center
    @include in-page-with-or-without-sidebar
        figure.with-picture
            @include media-breakpoint-up(desktop)
                padding-left: $spacing5
                padding-right: $spacing5
            @include media-breakpoint-up(xxl)
                padding-left: calc(#{$spacing5} * 2)
                padding-right: calc(#{$spacing5} * 2)
            figcaption 
                display: flex
                margin-top: $spacing2
                .avatar
                    position: relative
                    left: unset
                    margin-left: unset
                    top: unset
                    width: 105px
