@mixin switch-colors-to-dark-theme
    --color-accent: #{$color-dark-accent}
    --color-text: #{$color-dark-text}
    --color-text-alt: #{$color-dark-text-alt}
    --color-border: #{$color-dark-border}
    --color-background-alt: #{$color-dark-background-alt}
    --color-background: #{$color-dark-background}
    --color-selection: #{$color-dark-selection}
    --color-selection-background: #{$color-dark-selection-background}

@mixin switch-colors-to-light-theme
    --color-accent: #{$color-accent}
    --color-text: #{$color-text}
    --color-text-alt: #{$color-text-alt}
    --color-border: #{$color-border}
    --color-background-alt: #{$color-background-alt}
    --color-background: #{$color-background}
    --color-selection: #{$color-selection}
    --color-selection-background: #{$color-selection-background}