.toc-cta,
.toc-container
    @include media-breakpoint-down(desktop)
        background: var(--color-background)

.toc-container
    @include media-breakpoint-down(desktop)
        top: calc(var(--header-height) + 1px)
        width: 100%